/*----------General----------*/
.nav{
  padding-top: 20px;
}

.containaz {
  max-width: 95%;
}

* {
  font-family:'open Sans', sans-serif;
}


/*----------Portfolio----------*/

.projects {
  display: flex;
  flex-direction: column;
}

 .screenshot1,.screenshot2,.screenshot3, .screenshot4 {
   margin-bottom: 5px;
}
 .screenshot1:hover, .screenshot2:hover, .screenshot3:hover, .screenshot4:hover {
   cursor: pointer;
 }

.screenshot1, .screenshot2,.screenshot3 {
    position: relative;
    width: 50%;
}

/*overlay with description box*/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screenshot1:hover .image, .screenshot2:hover .image, .screenshot3:hover .image  {
  opacity: 0.5;
}

.screenshot1:hover .middle, .screenshot2:hover .middle, .screenshot3:hover .middle {
  opacity: 1;
}
.description {
  background: linear-gradient( #2e6ea5 ,#265a88);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  box-shadow: inset 0 1px #4d85b3;
  border-top:0.5px solid #4d85b3;
}

@media (max-width: 800px) {
  .description {
    display: none;
  }
}

/*---------------------------*/


/*----------About----------*/
#ppic {
  width:200px;
  height:200px;
}


/*----------Home----------*/

#asterisk:hover {
  color: #337ab7;
  cursor:pointer;
}

#fineprint {
  position: absolute;
  text-align:center;
  max-width: 10%;
  padding: 10px;
  margin: -90px 20px 0px 185px;
  color:#fff;
  background:#337ab7;
  opacity: 0.6;
  border-radius: 15px;
}


#fineprint:after {
  content:"";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -10px;
  left: 9px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #337ab7 transparent;
}

@media (max-width:800px) {
  #asterisk {
    display:none;
  }

}

.navbar-toggle, .icon-bar {
  border: 1px solid #fff;
  background: linear-gradient( #2e6ea5 ,#265a88);
  opacity: 0.95;
}




/*----------Blog----------*/

.post-date {
  display: inline;
  margin-left: 10px;
  font-size: 14px;
  line-height: 22px
}

.bposts {
  max-width: 70%;
}

.post {
  font-size: 16px;
  line-height: 30px;
}

/*----------footer----------*/


footer {
  background-color: #f3f3f3;
  width: 100%;
  /*position: absolute;
  left: 0 ; right: 0; bottom: 0;
  height:[footer-height]*/
  padding: 5px;
  text-align: center;
}
/*sticky-footer blueprint*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrap {
  flex-grow: 1;
}

/*svg:hover path {
    fill: red;
}*/

/*-----social icons-----*/
.Twitter {
  height:45px;
  width:45px;
}

.linkedin {
  height:40px;
  width:40px;
  margin-left:;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.socials:hover {
  cursor:pointer
}
.socials {
  padding: 5px;
}
/*---------------------*/

/*Responsive center*/

/*-------------------*/
